:root {
    --white-background: #F9F9F9;
    --orange-strong: #F46524;
    --orange-light: #F6B26B;
}

main {
    width: 390px;
    height: 844px;
    border-radius: 30px;
    background: var(--white-background);
    margin: auto;
    display: flex;
    flex-direction: column;
}

#infoContainer {
    display: flex;
    flex-direction: column;
    width: 317px;
    margin-inline: auto;
    margin-top: 59px;
}

h1, p {
    font-family: DM Sans, Arial, Helvetica, sans-serif;
}

h1 {
    color: #000;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 94.7%; /* 22.728px */
}

#title {
    padding-top: 57px;
}

.infoTitle {
color: #000;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.userInfoField {
    height: 50px;
    background-color: #FFF;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 62px rgba(153, 171, 198, 0.18));
    display: flex;
    justify-content: space-between;
}

.userInfoField p {
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-block: auto;
    margin-left: 25px;
}