html {
    height: 100%;
  }
  

  body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #f9f9f9;;
  }
  
  #main-holder {
    width: 390px;
    height: 844px;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #ebebeb;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px black;
  }
  
  #login-error-msg-holder {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  #login-error-msg {
    width: 23%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
  }
  
  #error-msg-second-line {
    display: block;
  }
  #button-registrierung{
    background-color: #ebebeb;
    border: none;
    cursor: pointer;
    font-size: 12px;

  }
  #login-header {
    color: #f46524;
    font-size: 30px;
  }
  #login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  .login-form-field::placeholder {
    color: #000000;
    background-color: #fff;
    padding-left: 10px;
  }
  
  .login-form-field {
    border: none;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 10px 0px 10px 0px;
  }
  
  #login-form-submit {
    width: 100%;
    padding: 10px 10px 10px 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    background-color: #f46524;
  }

  input{
    display: block;
    margin: 10px auto;
    width: 100%;
    padding: 10px;
    font-size: 12px;
    background-color: #ffffff;
    color: #fff;
  }
  label {
    color: #000000;
    font-size: 12px;


  }
  #remember {
    
  }
