:root {
    --white-background: #F9F9F9;
    --orange-strong: #F46524;
    --orange-light: #F6B26B;
  }
  
body {
    font-family: DM Sans, Arial, sans-serif;
    margin: 0;    /*da Body noch minimargin hatte*/
  }
  
main {
    width: 80%;
    max-width: 40vh;
    height: 90vh;
    margin: auto;
    background-color: var(--white-background);
    border-radius: 1rem 1rem 0 0; /*damit untere Kante gerade ist und Footer gut darunter liegt. = ev für alle slides*/
    display: flex;
    flex-direction: column;
  }

footer {
    width: 80%;
    max-width: 40vh;
    height: 10vh;
    margin: auto;
    background-color: var(--orange-light);
    border-radius: 0 0 1rem 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#locationimg {
width: 30vh;
margin: 1rem auto 2.5rem auto; 
}

#infoBoxbestaetigung {
    /* display: flex;none---cmd-shift-7 */
    flex-direction: column;
    width: 200px;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 38vh; /*höhe der Box für Antworten*/
    overflow: scroll; overflow-x: hidden; /*scrollfunktion eingeführt*/
  }
  
#infoBoxcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
    
  
  }

  h1 {
    text-align: center;
    font-size: 24px;
    margin-top: 0;
}

#header {
  display:flex;
  justify-content: center;
  margin-top: 70px;
}

.backarrow {
  height: 25px;
}
.infotext {
  font-size: 0.8rem;
}
