:root {
    --white-background: #F9F9F9;
    --orange-strong: #F46524;
    --orange-light: #F6B26B;
  }
  
body {
    font-family: DM Sans, Arial, sans-serif;
    margin: 0;    /*da Body noch minimargin hatte*/
  }
  
main {
    width: 80%;
    max-width: 40vh;
    height: 90vh;
    margin: auto;
    background-color: var(--white-background);
    border-radius: 1rem 1rem 0 0; /*damit untere Kante gerade ist und Footer gut darunter liegt. = ev für alle slides*/
    display: flex;
    flex-direction: column;
  }

footer {
    width: 80%;
    max-width: 40vh;
    height: 10vh;
    margin: auto;
    background-color: var(--orange-light);
    border-radius: 0 0 1rem 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#postContainer {
    margin: 1rem auto;
    border-radius: 1rem;
}

#locationimg {
    width: 30vh;
    margin: 3rem auto 5rem auto; 
    border-radius: 1rem;
}

footer img {
    width: 6vh;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-top: 70px ;
}

section {
    display:flex;
    justify-content: space-evenly;
}

#button-container {
    position: relative;
}

.rounded-button {
    width: 60px;
    height: 60px;
    /* position: absolute; */
    border-radius: 100%;
    padding: 0;
    border: none;
}

.rounded-button img {
    width: 100%;
}

#infoBoxbestaetigung {
    display: flex;
    flex-direction: column;
    width: 292px;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  